* {
  font-family: sans-serif;
}
body {
  /*background-image: url(https://media.istockphoto.com/vectors/abstract-white-square-shape-with-futuristic-concept-background-space-vector-id1236824686?k=20&m=1236824686&s=612x612&w=0&h=r1Ga0VFxPSUX01_uU2RhGxEzvfzgT8KMPPPrV7yNcdE=);*/
  background-image: url(./img/background3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Anotaciones

uno de los elementos div en los estilos contiene el color blanco para todos los div

*/

.main {
  display: grid;
  grid-template-columns: 18% 58% 22%;
  justify-content: center;
}

.first_block {
  margin-left: -10px;
  height: auto;
  margin-right: 10px;
}

.second_block {
  width: 100%;
  height: 500px;
  padding: 2px;
  background-color: rgba(39, 173, 151, 0.2);
}

/*        Eliminar div id="div_menu"             */
/*        ELiminar div id="menu_sports"         */

.menu_item {
  background-color: rgba(6, 136, 64, 0.5);
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #dddd;
  border-radius: 3px;
}

.menu_item div {
  margin: 5px;
  text-transform: uppercase;
}

.title {
  height: 30px;
  border-radius: 3px;
  width: 30px;
}

.a_menu {
  display: inline-block;
  border: 1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  color: rgb(219, 16, 16);
  font-size: 20px;
  text-align: center;
  background-color: rgb(204, 204, 204);
}

.a_menu a {
  font-family: sans-serif;
}

.pr-1 {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  background-color: rgba(39, 173, 151, 0.2);
  border-radius: 3px;
}

.pr-1 div {
  margin: 5px;
}

.icons-futbol {
  display: inline-block;
  border: 1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(32, 158, 43);
}

a {
  text-decoration: none;
  color: #dddd;
}

.ml-1 {
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  color: #dddd;
}

.pr-1:hover {
  background-color: rgba(47, 226, 196, 0.3);
  color: rgb(51, 51, 51);
  border-radius: 5px;
}

.icons-beisbol {
  display: inline-block;
  border: 1.5px solid rgba(173, 173, 173, 0.867);
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(133, 32, 158);
}

.icons-basket {
  display: inline-block;
  border: 1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(201, 141, 29);
}

.icons-tennis {
  display: inline-block;
  border: 1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(201, 92, 29);
}

/*************ICONOS NUEVOS ************/

.icons-american-football {
  display: inline-block;
  border: 1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(92, 201, 29);
}
.icons-voley {
  display: inline-block;
  border: 1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(201, 198, 29);
}
.icons-hockey {
  display: inline-block;
  border: 1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(240, 240, 240);
}

/*****************************************************/

hr {
  width: 90%;
  border-color: rgba(47, 226, 196, 0.3);
  border-radius: 2px;
  margin-top: 90px;
}

/***** Clases nuevas a agregar  ******/

.info-title {
  margin: 5px;
  color: #dddd;
  font-size: 20px;
  font-family: sans-serif;
}

.info_item {
  background-color: rgba(6, 136, 64, 0.5);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  color: #dddd;
  border-radius: 3px;
}

.info {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  background-color: rgba(39, 173, 151, 0.2);
  border-radius: 3px;
  height: 40px;
}

.info:hover {
  background-color: rgba(47, 226, 196, 0.3);
  color: rgb(51, 51, 51);
  border-radius: 5px;
}

.info a {
  margin: 10px;
  color: #dddd;
  font-size: 20px;
  font-family: sans-serif;
}

/**********   Third block  *********/

.third-block {
  background-color: transparent;
  width: 100%;
  padding: 2px;
  height: 98vh;
  margin-left: 10px;
}

/* Tabs */
/*
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 2px;
}
.mytabs input[type="radio"] {
    display: none;
    
}

.mytabs label {
   padding: 4px;
   background-color: rgba(6, 136, 64, 0.5);
   font-weight: bold;
   color:#dddd;
   cursor:pointer;
}

.mytabs .tab {
    width: 100%;
    padding: 5px;
    background: rgba(7, 95, 107,0.5);
    order: 1;
    display: none;
    border-radius: 2px;
}

.mytabs .tab h3 {
    font-size: 1.5em;
    color:#dddd;
    font-family: sans-serif;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: rgba(7, 95, 107,0.5);
}

.tab p{
  font-size: 20px;
  font-family: sans-serif;
  color:#dddd;
}
*/
.nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 2px;
}

.nav input[type="radio"] {
  display: none;
}

.nav li {
  list-style: none;
}

.nav .nav-item {
  padding: 4px;
  background-color: rgba(6, 136, 64, 0.5);
  font-weight: bold;
  color: #dddddddd;
  cursor: pointer;
}

.nav .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-link:hover {
  color: rgba(240, 240, 240, 0.5);
}

.nav-link.active {
  font-weight: bold;
  background: rgba(7, 95, 107, 0.5);
}

/* Tabs */

.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 2px;
}
.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  padding: 7px;
  background-color: rgba(6, 136, 64, 0.5);
  font-weight: bold;
  color: #dddd;
  cursor: pointer;
}

.mytabs .tab {
  width: 100%;
  padding: 10px;
  background: rgba(7, 95, 107, 0.5);
  order: 1;
  display: none;
  border-radius: 2px;
}

.mytabs .tab h3 {
  font-size: 2em;
  color: #dddd;
  font-family: sans-serif;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: rgba(7, 95, 107, 0.5);
}

.tab p {
  font-size: 20px;
  font-family: sans-serif;
  color:#f1f1f1;
}

@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }

  .first-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-bottom: 5px;
  }

  hr {
    display: none;
  }

  .menu_item {
    width: 100%;
    text-transform: uppercase;
    font-family: sans-serif;
  }

  .menu_item div a {
    display: none;
  }

  .pr-1 a {
    display: none;
  }

  .info {
    font-size: 8px;
    margin: 5px;
    padding: 0px 10px 0px 10px;
    height: auto;
  }

  .info {
    font-size: 25px;
    margin: 5px;
    padding: 0px 10px 0px 10px;
  }

  .second-block {
    width: 100%;
    height: 500px;
  }

  .third-block {
    margin-top: 20px;
    height: auto;
  }
}
