body{
  /*background-image: url(https://media.istockphoto.com/vectors/abstract-white-square-shape-with-futuristic-concept-background-space-vector-id1236824686?k=20&m=1236824686&s=612x612&w=0&h=r1Ga0VFxPSUX01_uU2RhGxEzvfzgT8KMPPPrV7yNcdE=);*/
  background-image: url(./img/background3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
   background-size: cover;

}

.main{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  
}

.first-block{
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    height: auto;
}

.sport-title{
  display: flex;
  align-items: center;
  cursor:pointer;
  background-color: rgba(6, 136, 64, 0.5);
  color:#dddd;
  border-radius: 5px;

}

.sport-title div{
  margin:5px;
}

.title{
  display: inline-block;
  border:1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  color:rgb(219, 16, 16);
  font-size: 20px;
  text-align: center;
  background-color: rgb(204, 204, 204);

}

.title:hover{
  background-color: rgba(39, 173, 151, 0.5) ;
  color:rgb(51, 51, 51);
  border-radius: 5px;
}

.sport{
  display: flex;
  align-items: center;
  cursor:pointer;
  margin:5px;
   background-color: rgba(39, 173, 151, 0.2) ;
   border-radius: 3px;

}

.sport div{
  margin:5px;
}

.icons{
  display: inline-block;
  border:1.5px solid rgba(173, 173, 173, 0.867);
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(133, 32, 158);
  
}

p{
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  color:#dddd;

}

.icons-futbol{
  display: inline-block;
  border:1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
   background-color: rgb(32, 158, 43);
}

.icons-basket{
  display: inline-block;
  border:1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
   background-color: rgb(201, 141, 29);
}

.icons-tennis{
    display: inline-block;
  border:1.5px solid #dddd;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  text-align: center;
   background-color: rgb(201, 92, 29);
}

a{
  text-decoration: none;
  color:#dddd;
}

.sport div:checked + a{
    color:#dddd;
}


.sport:hover{
  background-color: rgba(47, 226, 196, 0.3) ;
  color:rgb(51, 51, 51);
  border-radius: 5px;
  
}

hr{
  width: 90%;
  border-color: rgba(47, 226, 196, 0.3) ;
  border-radius: 2px;
  margin-top: 90px;
}

.info{
  display: flex;
  align-items: center;
  cursor:pointer;
  margin:5px;
   background-color: rgba(39, 173, 151, 0.2) ;
   border-radius: 3px;
  
}

.info:hover{
  
  background-color: rgba(47, 226, 196, 0.3) ;
  color:rgb(51, 51, 51);
  border-radius: 5px;
  
}

.info li{
  margin:20px;
  color:#dddd;
  font-size: 20px;
  font-family: sans-serif;
}


.icons-info img{
   display: inline-block;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  
}

.second-block{
  background-color: rgba(109, 109, 109,0.3);
  width: 98%;
  margin:auto;
  height: 100%;

}

.third-block{
  background-color: transparent;
  width: 100%;
  height: 98vh;

}


/* Tabs */

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 2px;
}
.mytabs input[type="radio"] {
    display: none;
    
}

.mytabs label {
   padding: 7px;
   background-color: rgba(6, 136, 64, 0.5);
   font-weight: bold;
   color:#dddd;
   cursor:pointer;
}

.mytabs .tab {
    width: 100%;
    padding: 10px;
    background: rgba(7, 95, 107,0.5);
    order: 1;
    display: none;
    border-radius: 2px;
}

.mytabs .tab h3 {
    font-size: 2em;
    color:#dddd;
    font-family: sans-serif;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: rgba(7, 95, 107,0.5);
}

.tab p{
  font-size: 20px;
  font-family: sans-serif;
}

@media only screen and ( max-width:768px){

  .main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .first-block{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-bottom:5px;
  }

  hr{
    margin-top: 5px;
  }


  .sport-title {
    width: 100%;
  }

.sport p{
  display: none;
}

.info{
  font-size: 8px;
  margin:5px;
  padding:0px 10px  0px 10px;
}
.info li{
  display: none;
}


.second-block{
  width: 100%;
  height: 500px;
}

.third-block{
  margin-top: 20px;
  height: auto;
}



}
